body{
    margin: 30px;
    
}

.close{
    /* position: absolute; */
  
    
}

.uploadFile{
    max-width: 600px;
}

button{
    background-color: rgb(64, 0, 255);
    color: aliceblue;
   cursor: pointer;
}

@media screen and (max-width: 600px) {
 
}
